* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pasang-tiket-onboard {
    display: flex;
    flex-direction: column;
    width: 1440px;
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
    position: relative;
}

.img {
    position: absolute;
}

.img img {
    position: relative;
    width: 1350px;
}

.form-container {
    position: relative;
    width: 1120px;
    margin: 0px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.image-upload {
    width: 500px;
    height: 245px;
    text-align: left;
    border-radius: 15px !important;
    padding: 15px 40px;
    justify-content: center;
}

.form-container>div>h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 35px;
    color: #054A72;
    line-height: 50px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    margin: 0 !important;
}

.title {
    height: 30px;
    border-bottom: 1px solid #2F80ED;
    margin-bottom: 20px;
}

.title h4 {
    font-size: 18px !important;
    color: #054A72;
}

.image {
    width: max-content !important;
    border-radius: 60px !important;
    border: none !important;
}

.image>img {
    width: 100px;
}

.container-image {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.form-1,
.form-2 {
    border-radius: 15px !important;
    display: flex;
    width: 400px !important;
    background: #FFf !important;
    padding: 15px 40px;
    justify-content: center;
}

.container-form {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px !important;
}

label {
    margin: 0px !important;
}

.form-1>.container-form>.input>input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 212px !important;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-2 {
    width: 1120px !important;
    height: 390px !important;
    justify-content: space-around;
}

#kategori {
    width: 800px;
    max-width: 100%;
    margin: 0px !important;
}

.form-2>.input>input {
    width: 800px;
    max-width: 100%;
}

textarea {
    width: 800px !important;
    height: 86px !important;
}

.harga {
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
}

.Rp {
    width: 80px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 37.99px;
    background: rgba(0, 110, 172, 0.2);
    font-weight: 600;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 350px;
    margin-left: auto !important;
}

.harga>input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    width: 150px !important;
}